@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro')
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text')

body, input, select, textarea, button
  font-family: 'Source Code Pro', monospace
  font-size: 16px
a
  text-decoration: none
  color: inherit
::-webkit-scrollbar
  width: 0.5em
  height: 0.5em
::-webkit-scrollbar-thumb
  background: #212121
::-webkit-scrollbar-track
  background: #b8c0c8
input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px #ffffff inset
