.blockchart
  width: 100%
  height: calc(100vh - 110px)
  position: relative
  cursor: move
  overflow: scroll
.node
  rect
    cursor: move
    fill-opacity: .9
    shape-rendering: crispEdges
  text
    pointer-events: none
    font-size: 11px
.link
  fill: none
  stroke: #000
  stroke-opacity: .2

.link:hover
  stroke-opacity: .5
.add-data-block
  position: fixed
  display: block
  right: 10px
  bottom: 10px
  opacity: 0.4
  transition: 0.3s
  background-color: #ffffff
  padding: 10px 15px
  border-radius: 0.25em
  textarea
    width: 200px
    height: 70px
  &:hover
    opacity: 1
    transition: 0.3s
